name: 'Release'

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        env:
          MI_VERSION: ${{ github.event.release.tag_name }}
        run: ./gradlew build
      - name: Upload to Curseforge
        env:
          MI_VERSION: ${{ github.event.release.tag_name }}
          CURSEFORGE_API_KEY: ${{ secrets.CURSEFORGE_API_KEY }}
        run: ./gradlew curseforge405388
      - name: Upload to Modrinth
        env:
          MI_VERSION: ${{ github.event.release.tag_name }}
          MODRINTH_API_KEY: ${{ secrets.MODRINTH_API_KEY }}
        run: ./gradlew publishModrinth
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: modern-industrialization ${{ github.event.release.tag_name }}
          path: build/libs
